<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hasFragileUserData="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GandharVMS"
        android:usesCleartextTraffic="true"
        tools:targetApi="31" >
        <activity
            android:name=".OutwardOut_Tanker_Security.OT_Complete_Out_security"
            android:exported="false" />
        <activity
            android:name=".OutwardOutTankerBilling.OT_out_Billing_Completed"
            android:exported="false" />
        <activity
            android:name=".OutwardOutDataEntryForm_Production.OT_Completed_outdataentry"
            android:exported="false" />
        <activity
            android:name=".Outwardout_Tanker_Weighment.OT_Completed_Outweighment"
            android:exported="false" />
        <activity
            android:name=".Inward_Tanker_Security.it_in_sec_Completedgrid"
            android:exported="false" />
        <activity
            android:name=".outward_Tanker_Lab_forms.OT_Completd_bilkload_laboratory"
            android:exported="false" />
        <activity
            android:name=".outward_Tanker_Lab_forms.OT_Completed_inproc_laboratory"
            android:exported="false" />
        <activity
            android:name=".Outward_Tanker_Production_forms.OT_Completed_bulkload_production"
            android:exported="false" />
        <activity
            android:name=".ot_in_inproc_comple_tablecell"
            android:exported="false" />
        <activity
            android:name=".Outward_Tanker_Production_forms.OT_Completed_inproc_production"
            android:exported="false" />
        <activity
            android:name=".Outward_Tanker_Weighment.OT_Completed_Weighment"
            android:exported="false" />
        <activity
            android:name=".Outward_Tanker_Billing.OT_Completed_Billing"
            android:exported="false" />
        <activity
            android:name=".Outward_Tanker_Security.OT_Complete_sec"
            android:exported="false" />
        <activity
            android:name=".Outward_Truck_Security.SecOut_OR_Complete"
            android:exported="false" />
        <activity
            android:name=".OutwardOut_Truck_Billing.Billing_Out_OR_Complete"
            android:exported="false" />
        <activity
            android:name=".Outward_Truck_Weighment.Weigh_Out_OR_Complete"
            android:exported="false" />
        <activity
            android:name=".Outward_Truck_Dispatch.Disp_OR_Complete"
            android:exported="false" />
        <activity
            android:name=".Outward_Truck_Weighment.Weigh_OR_Complete"
            android:exported="false" />
        <activity
            android:name=".Outward_Truck_Logistic.Logi_OR_Complete"
            android:exported="false" />
        <activity
            android:name=".Outward_Truck_Security.OR_Completesec"
            android:exported="false" />
        <activity
            android:name=".Inward_Truck_store.ir_stor_Completedgrid"
            android:exported="false" />
        <!--
<activity
            android:name=".Inward_Truck_Weighment.ir_in_weigh_Completedgrid"
            android:exported="false" />
        -->
        <activity
            android:name=".Inward_Truck_Security.ir_in_sec_Completedgrid"
            android:exported="false" />
        <activity
            android:name=".it_out_weigh_completedgrid"
            android:exported="false" />
        <activity
            android:name=".it_out_sec_Completedgrid"
            android:exported="false" />
        <!--
<activity
            android:name=".Util.it_out_sec_Completedgrid"
            android:exported="false" />
        -->
        <activity
            android:name=".Inward_Tanker_Production.it_pro_Completedgrid"
            android:exported="false" />
        <activity
            android:name=".Inward_Tanker_Laboratory.it_Lab_Completedgrid"
            android:exported="false" />
        <activity
            android:name=".OutwardOutTankerBilling.ot_outBilling"
            android:exported="false" />
        <activity
            android:name=".OutwardOutDataEntryForm_Production.DataEntryForm_Production"
            android:exported="false" />
        <activity
            android:name=".Inward_Tanker_Sampling.it_in_Samp_Completedgrid"
            android:exported="false" />
        <activity
            android:name=".Inward_Tanker_Weighment.it_in_weigh_Completedgrid"
            android:exported="false" />
        <activity
            android:name=".Outward_Tanker_Security.Grid_Outward"
            android:exported="false" />
        <activity
            android:name=".InwardCompletedGrid.GridCompleted"
            android:exported="false" />
        <activity
            android:name=".outward_Tanker_Lab_forms.bulkloadinglaboratory"
            android:exported="false" />
        <activity
            android:name=".outward_Tanker_Lab_forms.outwardlabforms"
            android:exported="false" />
        <activity
            android:name=".Outward_Tanker_Production_forms.bulkloadingproduction"
            android:exported="false" />
        <activity
            android:name=".Outward_Tanker_Production_forms.inprocessrequestform"
            android:exported="false" />
        <activity
            android:name=".Inward_Tanker_Production.in_tanker_produ_grid"
            android:exported="false" />
        <activity
            android:name=".Inward_Tanker_Laboratory.in_tanker_lab_grid"
            android:exported="false" />
        <activity
            android:name=".Inward_Tanker_Sampling.in_Tanker_sampling_grid"
            android:exported="false" />
        <!--
<activity
            android:name=".Inward_Tanker_Sampling.in"
            android:exported="false" />
        -->
        <activity
            android:name=".Inward_Tanker_Weighment.in_Tanker_weighment_grid"
            android:exported="false" />
        <activity
            android:name=".Inward_Tanker_Security.grid"
            android:exported="false" />
        <!--
<activity
            android:name=".Inward_Tanker_Security.completedgrid"
            android:exported="false" />
        -->
        <activity
            android:name=".OutwardOut_Truck_Billing.OutwardOut_Truck_Billing"
            android:exported="false" />
        <activity
            android:name=".OutwardOut_Truck_Weighment"
            android:exported="false" />
        <activity
            android:name=".OutwardOut_Truck_Security"
            android:exported="false" />
        <activity
            android:name=".OutwardOut_Truck"
            android:exported="false" />
        <activity
            android:name=".Outwardout_Tanker_Weighment.OutwardOut_Tanker_Weighment"
            android:exported="false" />
        <activity
            android:name=".OutwardOut_Tanker_Security.OutwardOut_Tanker_Security"
            android:exported="false" />
        <activity
            android:name=".OutwardOut_Tanker"
            android:exported="false" />
        <activity
            android:name=".Outward_Truck_Logistic.Outward_Truck_Logistics"
            android:exported="false" />
        <activity
            android:name=".Outward_Truck_Dispatch.Outward_Truck_Dispatch"
            android:exported="false" />
        <activity
            android:name=".Outward_Truck_Billing.Outward_Truck_Billing"
            android:exported="false" />
        <activity
            android:name=".Outward_Truck_Production.Outward_Truck_Production"
            android:exported="false" />
        <activity
            android:name=".Outward_Truck_Laboratory.Outward_Truck_Laboratory"
            android:exported="false" />
        <activity
            android:name=".InwardOut_Truck_Security"
            android:exported="false" />
        <activity
            android:name=".Inward_Truck_Out"
            android:exported="false" />
        <activity
            android:name=".InwardOut_Truck_Weighment"
            android:exported="false" />
        <activity
            android:name=".submenu.submenu_Inward_Truck"
            android:exported="false" />
        <activity
            android:name=".InwardOut_Tanker_Security"
            android:exported="false" />
        <activity
            android:name=".InwardOut_Tanker_Weighment"
            android:exported="false" />
        <activity
            android:name=".Inward_Tanker_Out"
            android:exported="false" />
        <activity
            android:name=".submenu.submenu_Inward_Tanker"
            android:exported="false" />
        <activity
            android:name=".Inward_Tanker_Production.Tanker_Production_Lab_Report_Data"
            android:exported="false" />
        <activity
            android:name=".Outward_Truck_Weighment.Outward_Truck_weighment"
            android:exported="false" />
        <activity
            android:name=".Outward_Truck_Security.Outward_Truck_Security"
            android:exported="false" />
        <activity
            android:name=".Outward_Truck"
            android:exported="false" />
        <activity
            android:name=".submenu.Submenu_Outward_Truck"
            android:exported="false" />
        <activity
            android:name=".Outward_Tanker_Billing.Outward_Tanker_Billing"
            android:exported="false" />
        <activity
            android:name=".Outward_Tanker_Production_forms.Outward_Tanker_Production"
            android:exported="false" />
        <activity
            android:name=".outward_Tanker_Lab_forms.Outward_Tanker_Laboratory"
            android:exported="false" />
        <activity
            android:name=".Outward_Tanker_Weighment.Outward_Tanker_weighment"
            android:exported="false" />
        <activity
            android:name=".Outward_Tanker_Security.Outward_Tanker_Security"
            android:exported="false" />
        <activity
            android:name=".submenu.Submenu_outward_tanker"
            android:exported="false" />
        <activity
            android:name=".Outward_Tanker"
            android:exported="false" />
        <activity
            android:name=".Inward_Truck_store.Inward_Truck_Store_viewdata"
            android:exported="false" />
        <activity
            android:name=".Inward_Truck_Weighment.Inward_Truck_Weighment_Viewdata"
            android:exported="false" />
        <activity
            android:name=".Inward_Truck_Security.Inward_Truck_Security_viewdata"
            android:exported="false" />
        <activity
            android:name=".Inward_Tanker_Laboratory.Inward_Tanker_Lab_Viewdata"
            android:exported="false" />
        <activity
            android:name=".Inward_Tanker_Production.Inward_Tanker_Production_Viewdata"
            android:exported="false" />
        <activity
            android:name=".Inward_Tanker_Sampling.Inward_Tanker_saampling_View_data"
            android:exported="false" />
        <activity
            android:name=".Inward_Tanker_Weighment.Inward_Tanker_Weighment_Viewdata"
            android:exported="false" />
        <activity
            android:name=".Inward_Tanker_Security.Inward_Tanker_Security_Viewdata"
            android:exported="false" />
        <activity
            android:name=".Inward_Truck_store.Inward_Truck_Store"
            android:exported="false" />
        <activity
            android:name=".Inward_Truck_Weighment.Inward_Truck_weighment"
            android:exported="false" />
        <activity
            android:name=".Inward_Truck_Security.Inward_Truck_Security"
            android:exported="false" />
        <activity
            android:name=".Inward_Tanker_Laboratory.Inward_Tanker_Laboratory"
            android:exported="false" />
        <activity
            android:name=".Inward_Tanker_Production.Inward_Tanker_Production"
            android:exported="false" />
        <activity
            android:name=".Inward_Tanker_Sampling.Inward_Tanker_Sampling"
            android:exported="false" />
        <activity
            android:name=".Inward_Tanker_Weighment.Inward_Tanker_Weighment"
            android:exported="false" />
        <activity
            android:name=".Inward_Tanker_Security.Inward_Tanker_Security"
            android:exported="false" />
        <activity
            android:name=".Inward_Truck"
            android:exported="false" />
        <activity
            android:name=".Inward_Tanker"
            android:exported="false" />
        <activity
            android:name=".Menu"
            android:exported="false" />
        <activity
            android:name=".RegisterwithAPI.Register"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".LoginWithAPI.Login"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".FirebaseMessagingService"
            android:exported="true"
            android:permission="TODO"
            tools:ignore="ExportedService" >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>